/***********************************************

Autores: Peña Matias - Macchia Sebastian

***********************************************/

/* ORGANIZAR LAS DECLARACIONES EN BLOQUES*/


/* ESTILOS GENERALES*/
*{
  max-width: 1000px;
}
/* Colores */
/* Color negro */
:root{
  --color-letra1: #d90429;
}
/* Color azul */
:root{
  --color-fondo2: #14213d;
}

/* Gris oscuro */
:root{
  --color-fondo: #8d99ae;
}

/* Naranja */
:root{
  --color-letra3: #386641;
}

/*  Amarillo */
:root{
  --color-fondo3: #e5e5e5;
}

/* Crema */
:root{
  --color-letra2: #372549;
}

body{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* ESTILOS DE CABECERA PRINCIPAL*/
.main-header{
  background-color: var(--color-fondo2);
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-header img{
  height: 100%;
  position: absolute;
  left: 300px;
  width: 85px;
  height: auto;
  
}

.main-header h1{
  left: 15px;
  position: absolute;
  text-align: center;
  color: var(--color-letra1);
}
.notifications{
  color: var(--color-letra1);
  border-radius: 10px;
  position: absolute;
  left: 900px;
}

.notifications .notification-counter {
  font-size: 1.5rem;
}
.notification-icon:hover{
  color: var(--color-fondo3);
  animation: campana 0.3s infinite;
  cursor: pointer;
}

/* animacion campanita */
@keyframes campana{
  0% { rotate: 0deg; }
  33% { rotate: 30deg; }
  66% { rotate: -30deg; }
  100% { rotate:  0deg; }
}

/* ESTILOS DE BARRA DE NAVEGACIÓN */
.main-menu{
  background-color: var(--color-fondo3); 
  width: 220px;
  padding: 5px 0px 5px 5px;
  justify-content: space-between;
}  


.menu-group > h2{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
}
.menu-group{
  display: flex;
  flex-direction: column;
  color: var(--color-letra2);
}

.notifications{
  position: absolute;
}
.menu-group > a{
  text-decoration: none;
  padding: 10px 5px;
  color: var(--color-letra3);
}


.menu-group > a:hover{  
  background-color: var(--color-fondo2);
  font-size: 15px;
}

main{
  width: 780px;
  background-color: var(--color-fondo);
}


/* cajas y ofertas exclusivas */
.exclusive-offers{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 385px;
  width: 760px;
  margin-left: 10px;
  text-align: center;
}

.exclusive-offers h2{
  width: 350px;
  left: 430px;
  position: absolute;
  text-align: center;
  color: var(--color-fondo3);
  background-color: var(--color-letra1);
  font-size: 1.8rem;
  animation: titulo 7s infinite;
}

@keyframes titulo{
  0% {
    left: 220px ;
  }
  50% {
    left: 650px;
  }
  100% {
    left: 220px;    
  }
}
.art-offer{
  background-color:var(--color-fondo3);
  color: var(--color-letra2);
  position: relative;
  margin-top: 2.5rem;
  margin-left: 3px;
}
.art-offer>header>h3{
  color: var(--color-letra2);
  font-size: 1.8rem;
  border-bottom: var(--color-fondo2) dashed 2px;
}



.art-offer>img{
  width: 120px;
  height: 120px;  
  /* margin-top: 5px; */
}
.art-offer>header>p{
  color: var(--color-letra3);
  font-size: 1.5rem;
}

header>p::after{
  content: "$" attr(data-art-old-price);
  color: var(--color-letra1);
  text-decoration: line-through;
  font-size: 1rem;
}

header>p::before{
content: "Ahora:  ";
}

.art-details{
  text-align: center;
  border-top: var(--color-fondo2) solid 1px;
  height: 100px;

}

.art-details h4{
  margin-bottom: 5px;
  font-size: 1.5rem;
}
.art-offer footer{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  border-top: var(--color-fondo2) solid 1px;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
.art-offer footer p{
  font-size: 1.1rem;
}
.art-offer footer button{
  width: 70px;
  height: 25px;
  background-color: var(--color-fondo);
  color: var(--color-letra2);
  border-radius: 5px;
}

.art-offer footer>button:hover{
  background-color: var(--color-fondo2);
  color: var(--color-fondo3);
  cursor: pointer;
}
/* PLANTILLA DE PRODUCTOS */

.cards{
  margin:10px 10px;
  width: 250px;
  height: 210px;
  transition: 1s;
  background-color: var(--color-fondo3);
  --position:1;
}
.cards h2{
  position: absolute;
}
.card{
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: var(--color-fondo2);
  color: var(--color-fondo3);
  border: var(--color-fondo3) solid 1px;
  
}
.card>img{
  width: 50px;
  position: relative;
}

.cards:hover {
  width: 620px;
}

.cards:hover .card:nth-of-type(2) {
  left: 210px;
}

.cards:hover .card:nth-of-type(3) {
  left: 410px;
}

.cards .card:hover {
  background-color: var(--color-letra3);
  cursor: pointer;
}


/* CONTROL DE STOCK */

.stock-alert{
    width: 110px;
    height: 60px;
}

/* COTIZACION DOLAR */
.currency{
  font-size: 1.5rem;
  border: var(--color-fondo2) solid 1px;
  background-color: var(--color-fondo3);
  border-radius: 10%;
}
.loading{
  width: 250px;
  height: 100px;
  justify-content: space-around;
  align-items: flex-end;
}
.loading-item{
  width: 50px;
  height: 50px;
  margin-right: 0;  
  background-color: lightblue;
  animation: dolar 1s linear infinite;
  border-radius: 0;
}
.currency>p{
    display: none;
}


.loading-item:nth-child(1) {
  background-color: var(--color-letra1);
  animation-delay: 0.1s;
}
.loading-item:nth-child(2) {
  animation-delay: 0.3s;
  background-color: var(--color-letra3);
}

.loading-item:nth-child(3) {
  animation-delay: 0.5s;
  background-color: var(--color-fondo2);
}



@keyframes dolar{
  0% {
    height: 30px;
  }

  50% {
    height:  100px;
  }

  100% {
    height: 30px;
  }
}

/* menu de contacto en posicion fixed */
.contact-support{
  position: fixed;
  bottom: 50px;
  border: var(--color-fondo2) solid 3px;
  color: var(--color-letra2);
  border-radius: 10px;
  background-color: var(--color-fondo3);
  left: 870px;
  transition: width 2s ease-out;
}

.contact-support:hover{
  background-color: var(--color-letra3);
  color: var(--color-fondo3);
  width: 200px;
  left: 790px;
  cursor: pointer;
}

.contact-text{
  position: relative;
  top: -6px;
  right: 2px;
}
/* FOOTER */
.main-footer{
    background-color: violet;
}

.activity{
  background-color: var(--color-fondo3);
  width: 750px;
  margin-left: 20px;
  border: none;
}

table{
  background-color: var(--color-fondo2);
  color: var(--color-fondo3);
  width: 730px;
  text-align: center;
  border-collapse: collapse;
  margin-left:10px;
}

.activity h2{
  text-align: center;
  color: var(--color-letra3);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;
}


.activity thead th{
  font-size: 1.4rem;
  font-weight: bold;
}

.activity tbody tr:hover{
  background-color: var(--color-letra3);
  color:var(--color-fondo3);
}

.activity td{
  border-top: var(--color-fondo3) solid 1px;
}

/* CONTROL DE STOCK */
.stock-control{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 550px;
  height: 150px;
  border: var(--color-fondo2) solid 1px;
  background-color: var(--color-fondo3);
  color: var(--color-letra3);
  margin-left: 10px;
  border-radius: 25px ;
  position: relative;
}
.stock-control>h2{
  position: absolute;
  text-align: center;
}
.stock-alert{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 160px;
  height: 90px;
  color: var(--color-fondo3);
  border-radius: 10px;
  padding: 10px 10px;
}

.stock-alert::before{
  content: "Quedan " attr(data-stock) " productos";
  top: 60px;
  position: absolute;

}
.stock-alert::after{
  content: "Stock: " attr(data-alert-level);
  position: absolute;
  top: 80px;

}
.stock-alert:nth-of-type(1){
  background-color: var(--color-letra1);
}
.stock-alert:nth-of-type(2){
  background-color: var(--color-letra2);
}
.stock-alert:nth-of-type(3){
  background-color: var(--color-letra3);
}

/* COTIZACION DEL DOLAR */


/* FOOTER */
.main-footer{
  background-color: var(--color-fondo2);
  color: var(--color-letra1);
  font-size: 1.5rem;
  width: 100%; 
  text-align: center;
}
/* ESTILOS DE ...*/ 